@mixin absolute-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin absolute-all($num) {
	position: absolute;
	top: $num;
	bottom: $num;
	right: $num;
   left: $num;
}

@mixin position($position, $top: null, $left: null,  $bottom: null, $right: null) {
	position: $position;
	@if $left is a 'unit' or $left == 'auto' {
      left: $left;
   }
	@if $right is a 'unit' or $right == 'auto' {
      right: $right;
   }
	@if $top is a 'unit' or $top == 'auto' {
      top: $top;
   }
	@if $bottom is a 'unit' or $bottom == 'auto' {
      bottom: $bottom;
   }
}

@mixin absolute($top: null, $left: null,  $bottom: null, $right: null) {
   @include position(absolute, $top, $left, $bottom, $right);
}

@mixin fixed($top: null, $left: null,  $bottom: null, $right: null) {
   @include position(fixed, $top, $left, $bottom, $right);
}

@mixin relative($top: null, $left: null,  $bottom: null, $right: null) {
   @include position(relative, $top, $left, $bottom, $right);
}
