* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  margin: 0;
  font-family: $font-family--secondary;
  font-weight: 800;
  color: $colors-text--primary;
}

h1 {
  font-size: rem(46);
  line-height: 1.22;
  letter-spacing: .9px;
}

h2 {
  font-size: rem(30);
  line-height: 1.5;
  letter-spacing: .6px;
}

h3 {
  font-size: rem(20);
  line-height: 1.5;
  letter-spacing: .4px;
}

p {
  font-size: rem(14);
  line-height: rem(20);
  margin: 0;
}

.subtitle {
  font-size: rem(15);
  line-height: rem(24);

  a {
    color: $colors-accent;
    font-weight: bold;
    @include underline;
  }
}

.dark-gray {
  color: $colors-text--primary;
}

.light-gray {
  color: $colors-text--secondary;
}

@media screen and (max-width: 992px) {
  h1, h2 {
    font-size: rem(20);
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: 0.4px;
  }

  h3 {
    font-size: rem(16);
    letter-spacing: 0.3px;
  }

  .subtitle {
    font-size: rem(12);
    line-height: 2;
    letter-spacing: 0.2px;
  }

  p {
    font-size: rem(12);
    line-height: rem(20);
    letter-spacing: 0.2px;
  }
  .mobile-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 690px;
    padding: 85px 0;
  }
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity .4s ease;
}

.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .mobile-wrapper {
    max-width: 510px;
    padding: 65px 0;
  }
}

@media screen and (min-width: 993px) and (max-height: 920px) {
  h1 {
    font-size: rem(38);
  }
  
  h2 {
    font-size: rem(28);
  }
  
  h3 {
    font-size: rem(18);
  }
  
  p {
    font-size: rem(13);
    line-height: rem(17);
  }
  
  .subtitle {
    font-size: rem(14);
    line-height: rem(20);
  }  
}



@keyframes pulse {
  0% {
    fill: $colors-grey-200;
    transform: none;
  }

  50% {
    fill: $colors-accent;
    transform: scale(1.2);
  }

  100% {
    fill: $colors-grey-200;
    transform: none;
  }
}